// header03
header.header_03
	.headerWrap
		.visualBg
			#header_03_banner.banner
				.slides(data-u='slides')
					div(data-p='225.00', style='display: none;')
						picture.picture
							source(srcset='img//tb/01.jpg', media='(min-width: 768px) and (max-width: 1023px)')
							source(srcset='img/pc/01.png', media='(min-width: 1024px)')
							img(src='img//m/01.jpg', alt='picture01')
					div(data-p='225.00', style='display: none;')
						picture.picture
							source(srcset='img//tb/02.jpg', media='(min-width: 768px) and (max-width: 1023px)')
							source(srcset='img/pc/02.png', media='(min-width: 1024px)')
							img(src='img//m/02.jpg', alt='picture02')
					div(data-p='225.00', style='display: none;')
						picture.picture
							source(srcset='img//tb/03.jpg', media='(min-width: 768px) and (max-width: 1023px)')
							source(srcset='img/pc/03.png', media='(min-width: 1024px)')
							img(src='img//m/03.jpg', alt='picture03')
					div(data-p='225.00', style='display: none;')
						picture.picture
							source(srcset='img//tb/04.jpg', media='(min-width: 768px) and (max-width: 1023px)')
							source(srcset='img/pc/04.png', media='(min-width: 1024px)')
							img(src='img//m/04.jpg', alt='picture04')
					div(data-p='225.00', style='display: none;')
						picture.picture
							source(srcset='img//tb/05.jpg', media='(min-width: 768px) and (max-width: 1023px)')
							source(srcset='img/pc/05.png', media='(min-width: 1024px)')
							img(src='img//m/05.jpg', alt='picture05')
					div(data-p='225.00', style='display: none;')
						picture.picture
							source(srcset='img//tb/05.jpg', media='(min-width: 768px) and (max-width: 1023px)')
							source(srcset='img/pc/06.png', media='(min-width: 1024px)')
							img(src='img//m/05.jpg', alt='picture05')
			.bannerCover
			.bannerTitle
			.iconWrap
				.scrollIcon
					.circle
					.arrow
						svg(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink" x="0px", y="0px", viewBox="0 0 80 80", style="enable-background:new 0 0 80 80;", xml:space="preserve")
							g
								polyline(class="st0" points="78.5,24.6 40,54.8 2.1,24.6 ")
			.source
		.detail
			.detailWrap
				.txtBg
				.txtInner
					.txtWrap
						.txtWidth.fadeOut
							.quote
								svg(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", viewBox="0 0 27 24", style="enable-background:new 0 0 27 24;", xml:space="preserve")
									g
										path(class="st0", d="M7.8,0l5,3.6c-2.6,4.3-4,8.8-4.1,13.5V24H0v-5.8c0-3.4,0.7-6.7,2.2-10.1C3.7,4.8,5.5,2.1,7.8,0z M22,0l5,3.6c-2.6,4.3-4,8.8-4.1,13.5V24h-8.7v-5.8c0-3.4,0.7-6.7,2.2-10.1C17.8,4.8,19.7,2.1,22,0z")
							.txt(data-dotdotdot='true') FB照片不只是回憶，更是爆紅里程碑。隨手上傳【做自己熱愛事的瞬間】，人氣前5名不僅能獲得$10,000 TWD !! 還有機會成為Angelia & Pets的季刊封面人物！有拍又有拿，什麼活動將在大學間引起轟動？
					a.link(href='https://www.facebook.com/events/1812041115744370/', target='_blank')
						.linkWrap
							span.ch 馬上參加
							span.ch.arrow →
// header03 end