// gallery02
section.gallery_02(data-menu='true')
	.layoutWrap
		h2.title 嘿，你看到幾個熟面孔？
		.detail 什麼！朋友也偷偷+1，我也要
		.photo
			iframe(style='border: 0; width: 100%; height: 100%;', scrolling=no, data-msrc='https://embedsocial.com/facebook_album/pro/c2848584cef61917ec83eecb5f75f866e8176bf1', data-pcsrc='https://embedsocial.com/facebook_album/pro_develop/700990020056173?total_images=1000&images_per_page=16&show_title=no&order_by_date=ascending&show_likes=no&show_images_in_lightbox=yes')
// gallery02 end