// layout04
section.layout_04(data-menu='true')
	.layoutWrap
		h2.title  你，非加一不可的原因
		.detail 型，不是別人說的算，專注自己熱愛事的瞬間，才是「有態度」！不管自己正扮演什麼角色，動動手指上傳專屬態度照吧！
		.sliderWrap
			.slidesWrap.fadeOut
				ul.slides
					li
						a.img.imgLoading(href='https://www.juksy.com/archives/58828', target='_blank', data-imgload='https://static.juksy.com/static/600x600/files/articles/58828/cover/58197504da021.png')
							.linkWrap
								.linkBorder
									span.ch 馬上閱讀
									span.ch.arrow →
						.txtWrap
							a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/58828', target='_blank')
								h3 有天，我的包包開口說話了─Angelia & Pets
					li
						a.img.imgLoading(href='https://www.juksy.com/archives/58904', target='_blank', data-imgload='https://static.juksy.com/static/600x600/files/articles/58904/cover/5811c43875b38.png')
							.linkWrap
								.linkBorder
									span.ch 馬上閱讀
									span.ch.arrow →
						.txtWrap
							a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/58904', target='_blank')
								h3 努力做喜歡的事錯了嗎？5種常遇到的窘境
					li
						a.img.imgLoading(href='javascript:void(0)', target='_blank', data-imgload='https://static.juksy.com/static/600x600/files/articles/58828/582143e7c031a.jpg')
							.linkWrap
								.linkBorder
									//第二階段要解開註解
									//span.ch 馬上閱讀
									//span.ch.arrow → 
						.txtWrap
							a.txt(data-dotdotdot='true', href='javascript:void(0)', target='_blank')
								h3 萬元獎金落誰家？5位得獎者大揭曉
// layout04 end