// layout05
section.layout_05(data-menu='true')
	.layoutWrap
		.title.hide 
		h2.detail.hide 我要揹他
		ul.article
			li.fadeOut
				a.img.imgLoading(href='https://goo.gl/Nqpi9W', target='_blank', data-imgload='https://static.juksy.com/static/600x600/files/articles/58828/58214cb8a713f.jpg')
					.linkWrap
						.linkBorder
							span.ch 馬上閱讀
							span.ch.arrow →
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://goo.gl/Nqpi9W', target='_blank')
						h3 正在城市打滾的你，Kiman Urban Classic揪你型走街頭
			li.fadeOut
				a.img.imgLoading(href='http://www.angeliapets.com/kiman-collection.html', target='_blank', data-imgload='https://static.juksy.com/static/600x600/files/articles/58828/58214cb9761f6.jpg')
					.linkWrap
						.linkBorder
							span.ch 馬上閱讀
							span.ch.arrow →
				.txtWrap
					a.txt(data-dotdotdot='true', href='http://www.angeliapets.com/kiman-collection.html', target='_blank')
						h3 不敗經典！你也能簡單駕馭Kiman Urban Camo的「多色迷彩」
// layout05 end